<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Primary Meta Tags -->
  <title> نوآ &mdash; اولین ویدیو پلیر و موزیک پلیر ایرانی و فارسی زبان </title>

  <meta property="theme-color" content="#3dcac8" />
  <meta name="language" content="FA" />
  <meta name="Classification" content="Tutorials" />
  <meta name="subject" content="نوآ, تیم ایرانی, موزیک پلیر, ویدیو پلیر, پخش کننده آهنگ,پخش کننده نماهنگ" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content=" نوآ - اولین ویدیو پلیر و موزیک پلیر ایرانی و فارسی زبان " />
  <meta name="keywords" content="نوآ, تیم ایرانی, موزیک پلیر, ویدیو پلیر, پخش کننده آهنگ,پخش کننده نماهنگ" />
  <meta name="author" content="نوآ - Nava" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nava-org.herokuapp.com/">
  <meta property="og:title" content="نوآ - Nava" />
  <meta property="og:description" content=" نوآ - اولین ویدیو پلیر و موزیک پلیر ایرانی و فارسی زبان " />
  <meta property="og:image" content="https://nava-org.herokuapp.com/images/favicon.png" />

  <!-- Twitter -->
  <meta property="twitter:card" value="summary" />
  <meta property="twitter:url" content="https://nava-org.herokuapp.com/">
  <meta property="twitter:title" content="نوآ - Nava" />
  <meta property="twitter:description" content=" نوآ - اولین ویدیو پلیر و موزیک پلیر ایرانی و فارسی زبان " />
  <meta property="twitter:image" content="https://nava-org.herokuapp.com/images/favicon.png" />

  <script src="https://kit.fontawesome.com/fdbc6c58ce.js" crossorigin="anonymous"></script>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/swiper.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">

  <link rel="icon" href="images/favicon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top" id="body">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <div class="container">

    <a class="navbar-brand logo-image" href="/"><img src="images/logo.png" alt="nava logo - لوگو نوآ"></a>

    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="/">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="https://github.com/Nava-ORG" target='_blank'>گیت هاب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#features">قابلیت ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="https://idpay.ir/nava-donate" target='_blank'>حمایت مالی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="https://discord.com/invite/RUrks4JqW6" target='_blank'>پشتیبانی</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">برنامه ها</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item page-scroll" href="https://github.com/Nava-ORG/video-player" target='_blank'>پخش کننده نماهنگ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item page-scroll" href="https://github.com/Nava-ORG/music-player" target='_blank'>پخش کننده آهنگ</a>
          </div>
        </li>
      </ul>
      <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="https://github.com/Nava-ORG" target='_blank'>
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://discord.com/invite/RUrks4JqW6" target='_blank'>
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-discord fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
    </div>
  </div>
</nav>


<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="slider-container">
          <div class="swiper-container text-slider">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="row">
                  <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                      <img class="img-fluid" src="images/video-player-1.png" alt="alternative">
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-5">
                    <div class="text-container header-text">
                      <h1 class="h1-large">پخش کننده نماهنگ</h1>
                      <p class="p-large">اولین پخش کننده ویدیو کاملا فارسی و اوپن سورس با قابلیت آر پی سی دیسکورد به صورت کامل</p>
                      <a class="btn-solid-lg page-scroll header-btn" href="https://github.com/Nava-ORG/Nava-Video-Player/releases/tag/main" target='_blank'>دانلود</a>
                      <a class="btn-outline-lg page-scroll header-btn" href="https://github.com/Nava-ORG/Nava-Video-Player" target='_blank'>ریپازیتوری</a>
                    </div>
                  </div>
                </div>
              </div>


              <div class="swiper-slide">
                <div class="row">
                  <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                      <img class="img-fluid" src="images/music-player-1.png" alt="alternative">
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-5">
                    <div class="text-container header-text">
                      <h1 class="h1-large">پخش کننده آهنگ</h1>
                      <p class="p-large">اولین پخش کننده موزیک کاملا فارسی و اوپن سورس با قابلیت آر پی سی دیسکورد به صورت کامل</p>
                      <a class="btn-solid-lg page-scroll header-btn" href="https://github.com/Nava-ORG/Nava-Music-Player/releases/tag/main">دانلود</a>
                      <a class="btn-outline-lg page-scroll header-btn" href="https://github.com/Nava-ORG/Nava-Music-Player">ریپازیتوری</a>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div id="features" class="cards-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="h1-heading aviny">ویژگی های برنامه های نوآ</h1>
        <br/><br/>
        <p class="p-heading text-center">پخش کننده های نوآ به کلی دارای طراحی زیبا و کاربردی همراه با آر پی سی دیسکورد هستند که تمام فورمت های ویدیو و موزیک را پشتیبانی میکند</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 cards-parent">

        <div class="card">
          <div class="card-image">
            <i class="fas fa-pencil-ruler"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">طراحی زیبا</h5>
            <p>طراحی اپلیکیشن کاملا مدرن و از رنگ بندی نسل جدید بوده که حس خیلی خوبی را به شما میدهد</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <i class="fab fa-discord"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">آر پی سی دیسکورد</h5>
            <p>شما میتوانید به راحتی آر پی سی دیسکورد خود را در اپلیکیشن خاموش کنید اما پیشنهاد ما روشن نگهداشتن آن است تا همه بفهمند طرفدار بهترین ها هستید</p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <i class="fas fa-language"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">فارسی</h5>
            <p>اپلیکیشن کاملا فارسی است و این به شما برای استفاده از قابلیت هایش کمک میکند</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="basic-1 bg-dark-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid app-image" src="images/video-player-2.png" alt="alternative">
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <h1 class="aviny">پخش کننده نماهنگ نوآ</h1>
          <p class="koodak">پخش کننده ویدیو و فیلم نوآ اولین ویدیو پلیر با زبان فارسی و قابلیت اکتیویتی دیسکورد (آر پی سی) برای تمامی سیستم عامل ها کاملا رایگان و ساپرت تمامی فرمت های ویدیو</p>
          <ul class="list-unstyled li-space-lg" dir="rtl">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">پشتیبانی نسبی از فرمت های فیلم ها</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">دیزاین و طراحی عالی و رسپانسیو</div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">اکتیویتی ( آر پی سی ) کامل دیسکورد</div>
            </li>
          </ul>
          <a class="btn-solid-reg" href="https://github.com/Nava-ORG/Nava-Video-Player/releases/tag/main" target='_blank'>دانلود</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <div class="tabs-container">
          <div class="tab-content">
            <br/><br/><br/>

            <div>
              <h1 class="aviny">پخش کننده آهنگ نوآ</h1>
              <p class="koodak">پخش کننده آهنگ نوآ اولین و برترین موزیک پلیر ایرانی با قابلیت کامل آر پی سی دیسکورد و زبان فارسی ساپرت تمامی سیستم عامل ها و فرمت های آهنگ</p>
              <ul class="list-unstyled li-space-lg" dir="rtl">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">پشتیبانی از تمام فرمت های آهنگ</div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">دیزاین و طراحی عالی و رسپانسیو</div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">اکتیویتی ( آر پی سی ) کامل دیسکورد</div>
                </li>
              </ul>
              <a class="btn-solid-reg" href="https://github.com/Nava-ORG/Nava-Music-Player/releases/tag/main" target='_blank'>دانلود</a>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid app-image app-image-right" src="images/music-player-2.png" alt="alternative">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyright">
  <div class="container">
    <div class="row">
      <br/>
      <div class="col-lg-12" dir="rtl">
        <p class="p-small cp-margin"> طراحی شده با <i class="fas fa-heart md-heart"></i> توسط <a href="https://parsa-firoozi.ir" target="_follow">im-parsa</a> & <a href="https://hadi-az.ir" target="_follow">hadi-az</a> </p>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>